{
  "name": "Hostinger",
  "host": "46.202.145.196",
  "protocol": "ftp",
  "port": 21,
  "username": "u616221621",
  "password": "TU_PASSWORD_AQUI",
  "remotePath": "/public_html",
  "uploadOnSave": false,
  "useTempFile": false,
  "openSsh": false,
  "watcher": {
    "files": false,
    "autoUpload": false,
    "autoDelete": false
  },
  "ignore": [
    ".vscode",
    ".git",
    ".DS_Store",
    "node_modules",
    "*.log"
  ]
}
